name: Task5_secrets_and_variables

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-slim
    steps:
      - name: Repo checkout
        uses: actions/checkout@v4

      - name: Read Environment variable
        run: echo "env_var ${{vars.VAR_API_KEY}}"