name: Task9_reusable_workflows

on: 
  workflow_dispatch:

    inputs:
      environment:
        type: string
        description: "The environment to deploy to"
        required: true
        default: "production"
jobs:
  deploy:
    runs-on: ubuntu-slim
    steps:
    - run: echo "Deploying to ${{ github.event.inputs.environment }} environment"
