name: Task4_dependency_caching

on:
  workflow_dispatch: 
  
jobs:
  build:
    runs-on: ubuntu-slim
    steps:
      - name: Repo checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
