name: Task7_job_dependencies

on:
  workflow_dispatch:

jobs:
  prepare_env:
    runs-on: ubuntu-slim

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r python-app/requirements.txt
  
  run_tests:
    runs-on: ubuntu-slim
    needs: [prepare_env]

    steps:
      - name: Run tests
        run: |
          cd python-app
          pytest